<h1>Editing Pay Roll</h1>
<div class="divider"></div>

<div class="row">
  <div class="col s12">
    <div class="right">
      <%= link_to 'Back', pay_rolls_path, class: 'btn waves-effect white' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div id="new-pay_roll-container">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="left">
      <%= link_to 'Back', pay_rolls_path, class: 'btn waves-effect white' %>
    </div>
  </div>
</div>