<h1>API KEY</h1>
<div class="card teal white-text">
  <div class="card-content">
    <h2 class="card-title">Input the following API Key in the fingerprint app settings:</h2>
    <h1><%= current_admin.authentication_token %></h1>
  </div>
</div>