<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <h1>Editing employee</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @employee %> |
      <%= link_to 'Back', employees_path %>
    </div>
  </div>
</div>