<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <h1>Editing Pay Scheme</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @pay_scheme %> |
      <%= link_to 'Back', pay_schemes_path %>
    </div>
  </div>
</div>