<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="title">New Pay Scheme</h1>
    </div>

    <div class="row">
      <div class="col s12">
        <%= render 'form' %>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <%= link_to 'Back', pay_schemes_path %>
      </div>
    </div>
  </div>
</div>