header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.card {
  overflow: visible;
}

.error-block {
  color: red;
}

.yes {
  color: #4caf50;
}

.no {
  color: #f44336;
}

.white {
  color: black;
}

.brand-image {
  height: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}