<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= active_link_to 'Employees', employees_path, wrap_tag: :li %></li>
      <li><%= active_link_to 'Time Log', time_logs_path, wrap_tag: :li %></li>
      <li><%= active_link_to 'Pay Schemes', pay_schemes_path, wrap_tag: :li %></li>
      <li><%= active_link_to 'Logout', destroy_admin_session_path, method: :delete, wrap_tag: :li %></li>

    </ul>
  </div>
</nav>_